<script setup>
import { computed } from '@vue/reactivity';
import {ref} from 'vue'

const name = 'Vue dinámico'
const styleColor='color:blue'
const colors=['blue','red','amarillo']
const active=true
const Fruta= {name:'manzana', price:20.00, desc:'Una manzana', id:1}
const counter=ref(0)
const numbers=ref([])
const handleClick=(message)=>{ console.log(message)}
const incremet = () => counter.value++
const decrement = () => counter.value--
const reset = () => counter.value=0

const add=()=>{
  numbers.value.push(counter.value)
}

const classComputed = computed(()=>{
  if(counter.value===0)
    return "zero"
  
  if(counter.value > 0)
    return "positive"
  
  if(counter.value < 0)
    return "negative"
  
})


const findComputed = computed(()=>{
  return numbers.value.includes(counter.value)
})
</script>

<template>
  <h1>Hola Vue JS {{ name.toUpperCase()  }}</h1>
  <h2>{{ colors[0] }}</h2>
  <h2 :style="`color:${colors[0]}`">Soy Azul</h2>
  <h2 v-if="active">Estoy activo</h2>
  <h2 v-else>Estoy Inactivo</h2>
  <h2 v-show="active">Con v-show</h2>
  <ul>
    <li v-for="color in colors">{{  color }}</li>
  </ul>

  <hr>
  <ul>
    <li v-for="(value, property, index) in Fruta" :key="value">{{index+' - '+property+' : '+value}}</li>
  </ul>

  <button @click.Left="handleClick('Left')">Left</button>
  <button @click.middle="handleClick('Middle')">Middle</button>
  <button @click.right="handleClick('right')">Tight</button>
  <hr>
  <button @click="incremet">Increment</button>
  <button @click="decrement">Decrement</button>
  <button @click="reset">Reset</button>
  <button :disabled="findComputed" @click="add">Add</button>
  <h2 :class="classComputed">{{  counter }}</h2>
  <ul>
    <li v-for="number in numbers">{{ number }}</li>
  </ul>
</template>

<style>
h1{
  color:red;
}
.positive{
  color: blue;
}
.negative{
  color: red;
}
.zero{
  color: yellow;
}
</style>